* {
    box-sizing: border-box;
    margin: auto;
}

body {
    background: #E5E5E5;
    max-width: 135vh;
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 400px;
    background: #C7DDEA;
}

h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #000000;
}

.img-wrap {
    margin-bottom: -24px;
    justify-content: center;
}

.nav-bar {
    display: flex;
    justify-content: center;
    height: 68px;
    background: #ffffff;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin: 20px;
}

.nav-links li a {
    font-family: 'Fira Sans', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #A9A19E;
}

a:hover {
    color: #000000;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 644px;
    padding: 20px;
    background: #A9A19E;
}

h3 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 45px;
    font-weight: 900;
    text-align: left;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label[for=email] , label[for=message]{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-left: 0px;
    color: white;
}

input[type=text] {
    border: 2px solid white;
    border-radius: 2px;
    width: 334px;
    height: 40px;
    margin: 8px 0;
}

textarea[name=message] {
    border: 2px solid white;
    border-radius: 2px;
    width: 334px;
    height: 166px;
    padding: 18px;
    margin: 8px 0;
}

::placeholder {
    font-family: 'Fira Sans', sans-serif;
    text-align: left;
    font-weight: 600;
    color: #000000;
}

button {
    border-style: none;
    border-radius: 100px;
    width: 131px;
    height: 39px;
    
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);

}

.main-bottom-container {
    display: flex;
    flex-direction: column;
    height: 407px;
    background: url(https://github.com/emiagren/insurance-project/blob/master/img/citymap.png?raw=true) no-repeat;
    background-position: center;
    background-size: cover;

}

.address-box {
    padding: 22px;
    margin: 0;
    width: 100%;
    background-color: #fab131;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

h4 {
    font-family: 'Frank Ruhl Libre', serif;
    text-align: left;
    font-size: 45px;
    font-weight: 900;
    color: #ffffff;
}

p {
    font-family: 'Fira Sans', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

footer {
    padding: 20px;
    height: 340px;

    background: #777574;
}


/*MEDIA QUERIES*/

@media all and (min-width: 672px){

header {
    display: flex;
    flex-direction: row;
}

.nav-links li {
    margin: 20px;
}

h3 {
    margin-top: 110px;
}

button {
    margin-left: 202px;
}

.main-bottom-container {
    display: flex;
    flex-direction: row;
}

.address-box {
    width: 323px;
    height: 206px;
    margin-top: 45px;
    margin-left: 45px;
}

}

@media all and (min-width: 320px) and (max-width: 599px) {

h2 {
    font-size: 40px;
}

.nav-links li a {
    font-size: 12px;
}

h3 {
    font-size: 40px;
}

input[type=text] {
    width: 290px;
    height: 35px;
}

textarea[name=message] {
    width: 290px;
    height: 176px;
}

h4 {
    font-size: 40px;
}

}